/*this file contains

1) all styling for descendant elements of <svg> elements (does not include the <svg> element itself)
2) all animations (does not include :hover, :active, :focus, etc. For those look in the global CSS file)

*/
/*********************************************/
/******** OCTOPUS RING WITH CLAM **************/
/*********************************************/
:root {
  --heading-font: "Raleway", sans-serif;
  --content-font: "Inconsolata", monospace;
  --accent-font: "DM Mono", monospace;
  --default-transition: all 250ms ease-in;
  --neon-teal: rgba(0, 240, 255, 1);
  --off-white: rgba(240, 240, 240, 1);
  --dark-blue: rgba(28, 30, 81, 1);
  --main-blue: rgba(11, 20, 236, 1);
  --segment-animation: 700ms ease-out infinite;
  --ring-animation: 20000ms linear infinite;
  --coin-animation: 750ms cubic-bezier(0, 1.18, 0.35, 0.97) 1 forwards;
  --hover-up-animation: hover-up 3500ms ease-in-out infinite alternate-reverse;
  --hover-down-animation: hover-down 3500ms ease-in-out infinite alternate-reverse;
  --phase-animation: phase 2000ms ease-in-out infinite alternate-reverse;
}
svg.octopus-ring-setup .octopus-ring {
  transform-origin: center;
  -webkit-animation: rotate 60000ms linear infinite;
  animation: rotate 60000ms linear infinite;
}
svg.octopus-ring-setup .central-clam {
  animation: rotate 7500ms linear infinite reverse;
  transform-origin: center;
}

svg.octopus-ring-setup .segment-1 {
  -webkit-animation: segment-1 var(--segment-animation);
  animation: segment-1 var(--segment-animation);
}
svg.octopus-ring-setup .segment-2 {
  -webkit-animation: segment-2 var(--segment-animation);
  animation: segment-2 var(--segment-animation);
}
svg.octopus-ring-setup .segment-3 {
  -webkit-animation: segment-3 var(--segment-animation);
  animation: segment-3 var(--segment-animation);
}
svg.octopus-ring-setup .segment-4 {
  -webkit-animation: segment-4 var(--segment-animation);
  animation: segment-4 var(--segment-animation);
}
svg.octopus-ring-setup .segment-5 {
  -webkit-animation: segment-5 var(--segment-animation);
  animation: segment-5 var(--segment-animation);
}
svg.octopus-ring-setup .segment-6 {
  -webkit-animation: segment-6 var(--segment-animation);
  animation: segment-6 var(--segment-animation);
}
svg.octopus-ring-setup .segment-7 {
  -webkit-animation: segment-7 var(--segment-animation);
  animation: segment-7 var(--segment-animation);
}
svg.octopus-ring-setup .segment-8 {
  -webkit-animation: segment-8 var(--segment-animation);
  animation: segment-8 var(--segment-animation);
}
@-webkit-keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes segment-1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes segment-1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes segment-2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes segment-2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes segment-3 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translate(1.25rem, -1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes segment-3 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translate(1.25rem, -1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes segment-4 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translate(-1.25rem, 1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes segment-4 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translate(-1.25rem, 1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes segment-5 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translate(-1.25rem, -1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes segment-5 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translate(-1.25rem, -1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes segment-6 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translate(1.25rem, 1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes segment-6 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translate(1.25rem, 1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes segment-7 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(-1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes segment-7 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(-1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes segment-8 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes segment-8 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(1.25rem);
  }
  100% {
    transform: translateX(0);
  }
}

/*******************************************************/
/************* OCTOPI AND COIN CAROUSELS ***************/
/*******************************************************/

@-webkit-keyframes octopi-carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(31.7%);
    /*digital octopi svg is a tesselation with 3 repetitions, but each rep overlaps, so we compensate by translating by 31.7% instead of 33.3%*/
  }
}

@keyframes octopi-carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(31.7%);
    /*digital octopi svg is a tesselation with 3 repetitions, but each rep overlaps, so we compensate by translating by 31.7% instead of 33.3%*/
  }
}
@-webkit-keyframes coin-carousel {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}
@keyframes coin-carousel {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

/********************************************************/
/********************** OCTOPI RINGS **************/
/********************************************************/
/*these classes represent positions in a "grid" for the octopus ring graphics in info-1. The top row is row a, the middle row b, and the bottom row c.
  the numbers in the class names represent the position of an icon within its row. 
  Position 1 is at the far right, and position 6 (position 9 for the wide version) is the far left.
*/
/*upper ring (NOT WIDE) has the following values:
vertical translation: 12.42%
horizontal translation:15.4%
finishing/starting half vertical translation: 6.21%,
finishing/starting half horizontal translation: 7.7%,
/*upper ring*/

svg.upper-ring [class$="1"] {
  -webkit-animation: upper-pos-1 var(--ring-animation);
  animation: upper-pos-1 var(--ring-animation);
}
svg.upper-ring [class$="2"] {
  -webkit-animation: upper-pos-2 var(--ring-animation);
  animation: upper-pos-2 var(--ring-animation);
}
svg.upper-ring [class$="3"] {
  -webkit-animation: upper-pos-3 var(--ring-animation);
  animation: upper-pos-3 var(--ring-animation);
}
svg.upper-ring [class$="4"] {
  -webkit-animation: upper-pos-4 var(--ring-animation);
  animation: upper-pos-4 var(--ring-animation);
}
svg.upper-ring [class$="5"] {
  -webkit-animation: upper-pos-5 var(--ring-animation);
  animation: upper-pos-5 var(--ring-animation);
}
svg.upper-ring [class$="6"] {
  -webkit-animation: upper-pos-6 var(--ring-animation);
  animation: upper-pos-6 var(--ring-animation);
}
@-webkit-keyframes upper-pos-1 {
  16.67% {
    transform: translate(-15.4%, -12.42%);
  }
  33.33% {
    transform: translate(-30.8%, -24.84%);
  }
  50% {
    transform: translate(-49%, -24.84%);
  }
  66.67% {
    transform: translate(-64.4%, -12.42%);
  }
  83.33% {
    transform: translate(-79.8%, 0);
  }
  91.63% {
    transform: translate(-87.5%, 6.21%);
  }

  91.64% {
    transform: translate(7.7%, 6.21%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes upper-pos-1 {
  16.67% {
    transform: translate(-15.4%, -12.42%);
  }
  33.33% {
    transform: translate(-30.8%, -24.84%);
  }
  50% {
    transform: translate(-49%, -24.84%);
  }
  66.67% {
    transform: translate(-64.4%, -12.42%);
  }
  83.33% {
    transform: translate(-79.8%, 0);
  }
  91.63% {
    transform: translate(-87.5%, 6.21%);
  }

  91.64% {
    transform: translate(7.7%, 6.21%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upper-pos-2 {
  16.67% {
    transform: translate(-15.4%, -12.42%);
  }
  33.33% {
    transform: translate(-33.6%, -12.42%);
  }
  50% {
    transform: translate(-49%, 0);
  }
  66.67% {
    transform: translate(-64.4%, 12.42%);
  }
  74.99% {
    transform: translate(-72.1%, 18.63%);
  }

  75% {
    transform: translate(23.1%, 18.63%);
  }
  83.33% {
    transform: translate(15.4%, 12.42%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes upper-pos-2 {
  16.67% {
    transform: translate(-15.4%, -12.42%);
  }
  33.33% {
    transform: translate(-33.6%, -12.42%);
  }
  50% {
    transform: translate(-49%, 0);
  }
  66.67% {
    transform: translate(-64.4%, 12.42%);
  }
  74.99% {
    transform: translate(-72.1%, 18.63%);
  }

  75% {
    transform: translate(23.1%, 18.63%);
  }
  83.33% {
    transform: translate(15.4%, 12.42%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upper-pos-3 {
  16.67% {
    transform: translate(-18.2%, 0);
  }
  33.33% {
    transform: translate(-33.6%, 12.42%);
  }
  50% {
    transform: translate(-49%, 24.84%);
  }
  58.33% {
    transform: translate(-56.7%, 31.05%);
  }

  58.34% {
    transform: translate(38.5%, 31.05%);
  }
  66.67% {
    transform: translate(30.8%, 24.84%);
  }
  83.33% {
    transform: translate(15.4%, 12.42%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes upper-pos-3 {
  16.67% {
    transform: translate(-18.2%, 0);
  }
  33.33% {
    transform: translate(-33.6%, 12.42%);
  }
  50% {
    transform: translate(-49%, 24.84%);
  }
  58.33% {
    transform: translate(-56.7%, 31.05%);
  }

  58.34% {
    transform: translate(38.5%, 31.05%);
  }
  66.67% {
    transform: translate(30.8%, 24.84%);
  }
  83.33% {
    transform: translate(15.4%, 12.42%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upper-pos-4 {
  16.67% {
    transform: translate(-15.4%, 12.42%);
  }
  33.33% {
    transform: translate(-30.8%, 24.84%);
  }
  41.66% {
    transform: translate(-38.5%, 31.05%);
  }

  41.67% {
    transform: translate(56.7%, 31.05%);
  }
  50% {
    transform: translate(49%, 24.84%);
  }
  66.67% {
    transform: translate(33.6%, 12.42%);
  }
  83.33% {
    transform: translate(18.2%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes upper-pos-4 {
  16.67% {
    transform: translate(-15.4%, 12.42%);
  }
  33.33% {
    transform: translate(-30.8%, 24.84%);
  }
  41.66% {
    transform: translate(-38.5%, 31.05%);
  }

  41.67% {
    transform: translate(56.7%, 31.05%);
  }
  50% {
    transform: translate(49%, 24.84%);
  }
  66.67% {
    transform: translate(33.6%, 12.42%);
  }
  83.33% {
    transform: translate(18.2%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upper-pos-5 {
  16.67% {
    transform: translate(-15.4%, 12.42%);
  }
  25% {
    transform: translate(-23.1%, 18.63%);
  }

  25.01% {
    transform: translate(72.1%, 18.63%);
  }
  33.33% {
    transform: translate(64.4%, 12.42%);
  }
  50% {
    transform: translate(49%, 0);
  }
  66.67% {
    transform: translate(33.6%, -12.42%);
  }
  83.33% {
    transform: translate(15.4%, -12.42%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes upper-pos-5 {
  16.67% {
    transform: translate(-15.4%, 12.42%);
  }
  25% {
    transform: translate(-23.1%, 18.63%);
  }

  25.01% {
    transform: translate(72.1%, 18.63%);
  }
  33.33% {
    transform: translate(64.4%, 12.42%);
  }
  50% {
    transform: translate(49%, 0);
  }
  66.67% {
    transform: translate(33.6%, -12.42%);
  }
  83.33% {
    transform: translate(15.4%, -12.42%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upper-pos-6 {
  8.33% {
    transform: translate(-7.7%, 6.21%);
  }

  8.34% {
    transform: translate(87.5%, 6.21%);
  }
  16.67% {
    transform: translate(79.8%, 0);
  }
  33.33% {
    transform: translate(64.4%, -12.42%);
  }
  50% {
    transform: translate(49%, -24.84%);
  }
  66.67% {
    transform: translate(30.8%, -24.84%);
  }
  83.33% {
    transform: translate(15.4%, -12.42%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes upper-pos-6 {
  8.33% {
    transform: translate(-7.7%, 6.21%);
  }

  8.34% {
    transform: translate(87.5%, 6.21%);
  }
  16.67% {
    transform: translate(79.8%, 0);
  }
  33.33% {
    transform: translate(64.4%, -12.42%);
  }
  50% {
    transform: translate(49%, -24.84%);
  }
  66.67% {
    transform: translate(30.8%, -24.84%);
  }
  83.33% {
    transform: translate(15.4%, -12.42%);
  }
  100% {
    transform: translate(0, 0);
  }
}

/*lower ring (NOT WIDE) has the following values:
vertical translation: 6.45%,
horizontal translation: 15.4%,
finishing/starting half vertical translation: 3.23%,
finishing/starting half horizontal translation: 7.7%,
/*lower ring*/

svg.lower-ring-setup .ring [class$="1"] {
  -webkit-animation: lower-pos-1 var(--ring-animation);
  animation: lower-pos-1 var(--ring-animation);
}
svg.lower-ring-setup .ring [class$="2"] {
  -webkit-animation: lower-pos-2 var(--ring-animation);
  animation: lower-pos-2 var(--ring-animation);
}
svg.lower-ring-setup .ring [class$="3"] {
  -webkit-animation: lower-pos-3 var(--ring-animation);
  animation: lower-pos-3 var(--ring-animation);
}
svg.lower-ring-setup .ring [class$="4"] {
  -webkit-animation: lower-pos-4 var(--ring-animation);
  animation: lower-pos-4 var(--ring-animation);
}
svg.lower-ring-setup .ring [class$="5"] {
  -webkit-animation: lower-pos-5 var(--ring-animation);
  animation: lower-pos-5 var(--ring-animation);
}
svg.lower-ring-setup .ring [class$="6"] {
  -webkit-animation: lower-pos-6 var(--ring-animation);
  animation: lower-pos-6 var(--ring-animation);
}

@-webkit-keyframes lower-pos-1 {
  16.67% {
    transform: translate(-15.4%, 6.45%);
  }
  33.33% {
    transform: translate(-30.8%, 12.9%);
  }
  50% {
    transform: translate(-49%, 12.9%);
  }
  66.67% {
    transform: translate(-64.4%, 6.45%);
  }
  83.33% {
    transform: translate(-79.8%, 0);
  }
  91.63% {
    transform: translate(-87.5%, -3.23%);
  }
  91.64% {
    transform: translate(7.7%, -3.23%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes lower-pos-1 {
  16.67% {
    transform: translate(-15.4%, 6.45%);
  }
  33.33% {
    transform: translate(-30.8%, 12.9%);
  }
  50% {
    transform: translate(-49%, 12.9%);
  }
  66.67% {
    transform: translate(-64.4%, 6.45%);
  }
  83.33% {
    transform: translate(-79.8%, 0);
  }
  91.63% {
    transform: translate(-87.5%, -3.23%);
  }
  91.64% {
    transform: translate(7.7%, -3.23%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lower-pos-2 {
  16.67% {
    transform: translate(-15.4%, 6.45%);
  }
  33.33% {
    transform: translate(-33.6%, 6.45%);
  }
  50% {
    transform: translate(-49%, 0);
  }
  66.67% {
    transform: translate(-64.4%, -6.45%);
  }
  74.99% {
    transform: translate(-72.1%, -9.68%);
  }
  75% {
    transform: translate(23.1%, -9.68%);
  }
  83.33% {
    transform: translate(15.4%, -6.45%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes lower-pos-2 {
  16.67% {
    transform: translate(-15.4%, 6.45%);
  }
  33.33% {
    transform: translate(-33.6%, 6.45%);
  }
  50% {
    transform: translate(-49%, 0);
  }
  66.67% {
    transform: translate(-64.4%, -6.45%);
  }
  74.99% {
    transform: translate(-72.1%, -9.68%);
  }
  75% {
    transform: translate(23.1%, -9.68%);
  }
  83.33% {
    transform: translate(15.4%, -6.45%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lower-pos-3 {
  16.67% {
    transform: translate(-18.2%, 0);
  }
  33.33% {
    transform: translate(-33.6%, -6.45%);
  }
  50% {
    transform: translate(-49%, -12.9%);
  }
  58.33% {
    transform: translate(-56.7%, -16.13%);
  }
  58.34% {
    transform: translate(38.5%, -16.13%);
  }
  66.67% {
    transform: translate(30.8%, -12.9%);
  }
  83.33% {
    transform: translate(15.4%, -6.45%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes lower-pos-3 {
  16.67% {
    transform: translate(-18.2%, 0);
  }
  33.33% {
    transform: translate(-33.6%, -6.45%);
  }
  50% {
    transform: translate(-49%, -12.9%);
  }
  58.33% {
    transform: translate(-56.7%, -16.13%);
  }
  58.34% {
    transform: translate(38.5%, -16.13%);
  }
  66.67% {
    transform: translate(30.8%, -12.9%);
  }
  83.33% {
    transform: translate(15.4%, -6.45%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lower-pos-4 {
  16.67% {
    transform: translate(-15.4%, -6.45%);
  }
  33.33% {
    transform: translate(-30.8%, -12.9%);
  }
  41.66% {
    transform: translate(-38.5%, -16.13%);
  }
  41.67% {
    transform: translate(56.7%, -16.13%);
  }
  50% {
    transform: translate(49%, -12.9%);
  }
  66.67% {
    transform: translate(33.6%, -6.45%);
  }
  83.33% {
    transform: translate(18.2%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes lower-pos-4 {
  16.67% {
    transform: translate(-15.4%, -6.45%);
  }
  33.33% {
    transform: translate(-30.8%, -12.9%);
  }
  41.66% {
    transform: translate(-38.5%, -16.13%);
  }
  41.67% {
    transform: translate(56.7%, -16.13%);
  }
  50% {
    transform: translate(49%, -12.9%);
  }
  66.67% {
    transform: translate(33.6%, -6.45%);
  }
  83.33% {
    transform: translate(18.2%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lower-pos-5 {
  16.67% {
    transform: translate(-15.4%, -6.45%);
  }
  25% {
    transform: translate(-23.1%, -9.68%);
  }

  25.01% {
    transform: translate(72.1%, -9.68%);
  }
  33.33% {
    transform: translate(64.4%, -6.45%);
  }
  50% {
    transform: translate(49%, 0);
  }
  66.67% {
    transform: translate(33.6%, 6.45%);
  }
  83.33% {
    transform: translate(15.4%, 6.45%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes lower-pos-5 {
  16.67% {
    transform: translate(-15.4%, -6.45%);
  }
  25% {
    transform: translate(-23.1%, -9.68%);
  }

  25.01% {
    transform: translate(72.1%, -9.68%);
  }
  33.33% {
    transform: translate(64.4%, -6.45%);
  }
  50% {
    transform: translate(49%, 0);
  }
  66.67% {
    transform: translate(33.6%, 6.45%);
  }
  83.33% {
    transform: translate(15.4%, 6.45%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lower-pos-6 {
  8.33% {
    transform: translate(-7.7%, -3.23%);
  }

  8.34% {
    transform: translate(87.5%, -3.23%);
  }
  16.67% {
    transform: translate(79.8%, 0);
  }
  33.33% {
    transform: translate(64.4%, 6.45%);
  }
  50% {
    transform: translate(49%, 12.9%);
  }
  66.67% {
    transform: translate(30.8%, 12.9%);
  }
  83.33% {
    transform: translate(15.4%, 6.45%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes lower-pos-6 {
  8.33% {
    transform: translate(-7.7%, -3.23%);
  }

  8.34% {
    transform: translate(87.5%, -3.23%);
  }
  16.67% {
    transform: translate(79.8%, 0);
  }
  33.33% {
    transform: translate(64.4%, 6.45%);
  }
  50% {
    transform: translate(49%, 12.9%);
  }
  66.67% {
    transform: translate(30.8%, 12.9%);
  }
  83.33% {
    transform: translate(15.4%, 6.45%);
  }
  100% {
    transform: translate(0, 0);
  }
}

svg.lower-ring-setup .ring [class^="a"],
svg.upper-ring [class^="b"],
svg.lower-ring-setup .ring [class^="c"] {
  animation-direction: reverse;
}
/*lower ring wide*/
/*lower ring WIDE has the following values:
vertical translation: 10.7%,
horizontal translation: 5.4%,
vertical peak translation:
horizontal peak translation:
finishing/starting half vertical translation: 3.23%,
finishing/starting half horizontal translation: 7.7%,
*/

svg.lower-ring-setup-wide .ring [class$="1"] {
  -webkit-animation: lower-pos-wide-1 var(--ring-animation);
  animation: lower-pos-wide-1 var(--ring-animation);
}
svg.lower-ring-setup-wide .ring [class$="2"] {
  -webkit-animation: lower-pos-wide-2 var(--ring-animation);
  animation: lower-pos-wide-2 var(--ring-animation);
}
svg.lower-ring-setup-wide .ring [class$="3"] {
  -webkit-animation: lower-pos-wide-3 var(--ring-animation);
  animation: lower-pos-wide-3 var(--ring-animation);
}
svg.lower-ring-setup-wide .ring [class$="4"] {
  -webkit-animation: lower-pos-wide-4 var(--ring-animation);
  animation: lower-pos-wide-4 var(--ring-animation);
}
svg.lower-ring-setup-wide .ring [class$="5"] {
  -webkit-animation: lower-pos-wide-5 var(--ring-animation);
  animation: lower-pos-wide-5 var(--ring-animation);
}
svg.lower-ring-setup-wide .ring [class$="6"] {
  -webkit-animation: lower-pos-wide-6 var(--ring-animation);
  animation: lower-pos-wide-6 var(--ring-animation);
}
svg.lower-ring-setup-wide .ring [class$="7"] {
  -webkit-animation: lower-pos-wide-7 var(--ring-animation);
  animation: lower-pos-wide-7 var(--ring-animation);
}
svg.lower-ring-setup-wide .ring [class$="8"] {
  -webkit-animation: lower-pos-wide-8 var(--ring-animation);
  animation: lower-pos-wide-8 var(--ring-animation);
}
@-webkit-keyframes lower-pos-wide-1 {
  12.5% {
    transform: translate(-11.8%, 5.6%);
  }
  25% {
    transform: translate(-23.6%, 11.2%);
  }
  37.5% {
    transform: translate(-35.4%, 16.8%);
  }
  50% {
    transform: translate(-49.4%, 16.8%);
  }
  62.5% {
    transform: translate(-61.2%, 11.2%);
  }
  75% {
    transform: translate(-73%, 5.6%);
  }
  87.5% {
    transform: translate(-84.8%, 0);
  }
  93.74% {
    transform: translate(-90.7%, -2.8%);
  }
  93.75% {
    transform: translate(5.9%, -2.8%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes lower-pos-wide-1 {
  12.5% {
    transform: translate(-11.8%, 5.6%);
  }
  25% {
    transform: translate(-23.6%, 11.2%);
  }
  37.5% {
    transform: translate(-35.4%, 16.8%);
  }
  50% {
    transform: translate(-49.4%, 16.8%);
  }
  62.5% {
    transform: translate(-61.2%, 11.2%);
  }
  75% {
    transform: translate(-73%, 5.6%);
  }
  87.5% {
    transform: translate(-84.8%, 0);
  }
  93.74% {
    transform: translate(-90.7%, -2.8%);
  }
  93.75% {
    transform: translate(5.9%, -2.8%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lower-pos-wide-2 {
  12.5% {
    transform: translate(-11.8%, 5.6%);
  }
  25% {
    transform: translate(-23.6%, 11.2%);
  }
  37.5% {
    transform: translate(-37.6%, 11.2%);
  }
  50% {
    transform: translate(-49.4%, 5.6%);
  }
  62.5% {
    transform: translate(-61.2%, 0);
  }
  75% {
    transform: translate(-73%, -5.6%);
  }
  81.24% {
    transform: translate(-78.9%, -8.4%);
  }
  81.25% {
    transform: translate(17.7%, -8.4%);
  }
  87.5% {
    transform: translate(11.8%, -5.6%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes lower-pos-wide-2 {
  12.5% {
    transform: translate(-11.8%, 5.6%);
  }
  25% {
    transform: translate(-23.6%, 11.2%);
  }
  37.5% {
    transform: translate(-37.6%, 11.2%);
  }
  50% {
    transform: translate(-49.4%, 5.6%);
  }
  62.5% {
    transform: translate(-61.2%, 0);
  }
  75% {
    transform: translate(-73%, -5.6%);
  }
  81.24% {
    transform: translate(-78.9%, -8.4%);
  }
  81.25% {
    transform: translate(17.7%, -8.4%);
  }
  87.5% {
    transform: translate(11.8%, -5.6%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lower-pos-wide-3 {
  12.5% {
    transform: translate(-11.8%, 5.6%);
  }
  25% {
    transform: translate(-25.8%, 5.6%);
  }
  37.5% {
    transform: translate(-37.6%, 0);
  }
  50% {
    transform: translate(-49.4%, -5.6%);
  }
  62.5% {
    transform: translate(-61.2%, -11.2%);
  }
  68.74% {
    transform: translate(-67.1%, -14%);
  }
  68.75% {
    transform: translate(29.5%, -14%);
  }
  75% {
    transform: translate(23.6%, -11.2%);
  }
  87.5% {
    transform: translate(11.8%, -5.6%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes lower-pos-wide-3 {
  12.5% {
    transform: translate(-11.8%, 5.6%);
  }
  25% {
    transform: translate(-25.8%, 5.6%);
  }
  37.5% {
    transform: translate(-37.6%, 0);
  }
  50% {
    transform: translate(-49.4%, -5.6%);
  }
  62.5% {
    transform: translate(-61.2%, -11.2%);
  }
  68.74% {
    transform: translate(-67.1%, -14%);
  }
  68.75% {
    transform: translate(29.5%, -14%);
  }
  75% {
    transform: translate(23.6%, -11.2%);
  }
  87.5% {
    transform: translate(11.8%, -5.6%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lower-pos-wide-4 {
  12.5% {
    transform: translate(-14%, 0);
  }
  25% {
    transform: translate(-25.8%, -5.6%);
  }
  37.5% {
    transform: translate(-37.6%, -11.2%);
  }
  50% {
    transform: translate(-49.4%, -16.8%);
  }
  56.24% {
    transform: translate(-55.3%, -19.6%);
  }
  56.25% {
    transform: translate(41.3%, -19.6%);
  }
  62.5% {
    transform: translate(35.4%, -16.8%);
  }
  75% {
    transform: translate(23.6%, -11.2%);
  }
  87.5% {
    transform: translate(11.8%, -5.6%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes lower-pos-wide-4 {
  12.5% {
    transform: translate(-14%, 0);
  }
  25% {
    transform: translate(-25.8%, -5.6%);
  }
  37.5% {
    transform: translate(-37.6%, -11.2%);
  }
  50% {
    transform: translate(-49.4%, -16.8%);
  }
  56.24% {
    transform: translate(-55.3%, -19.6%);
  }
  56.25% {
    transform: translate(41.3%, -19.6%);
  }
  62.5% {
    transform: translate(35.4%, -16.8%);
  }
  75% {
    transform: translate(23.6%, -11.2%);
  }
  87.5% {
    transform: translate(11.8%, -5.6%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lower-pos-wide-5 {
  12.5% {
    transform: translate(-11.8%, -5.6%);
  }
  25% {
    transform: translate(-23.6%, -11.2%);
  }
  37.5% {
    transform: translate(-35.4%, -16.8%);
  }
  43.74% {
    transform: translate(-41.3%, -19.6%);
  }
  43.75% {
    transform: translate(55.3%, -19.6%);
  }
  50% {
    transform: translate(49.4%, -16.8%);
  }
  62.5% {
    transform: translate(37.6%, -11.2%);
  }
  75% {
    transform: translate(25.8%, -5.6%);
  }
  87.5% {
    transform: translate(14%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes lower-pos-wide-5 {
  12.5% {
    transform: translate(-11.8%, -5.6%);
  }
  25% {
    transform: translate(-23.6%, -11.2%);
  }
  37.5% {
    transform: translate(-35.4%, -16.8%);
  }
  43.74% {
    transform: translate(-41.3%, -19.6%);
  }
  43.75% {
    transform: translate(55.3%, -19.6%);
  }
  50% {
    transform: translate(49.4%, -16.8%);
  }
  62.5% {
    transform: translate(37.6%, -11.2%);
  }
  75% {
    transform: translate(25.8%, -5.6%);
  }
  87.5% {
    transform: translate(14%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lower-pos-wide-6 {
  12.5% {
    transform: translate(-11.8%, -5.6%);
  }
  25% {
    transform: translate(-23.6%, -11.2%);
  }
  31.24% {
    transform: translate(-29.5%, -14%);
  }
  31.25% {
    transform: translate(73%, -14%);
  }
  37.5% {
    transform: translate(61.2%, -11.2%);
  }
  50% {
    transform: translate(49.4%, -5.6%);
  }
  62.5% {
    transform: translate(37.6%, 0);
  }
  75% {
    transform: translate(25.8%, 5.6%);
  }
  87.5% {
    transform: translate(11.8%, 5.6%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes lower-pos-wide-6 {
  12.5% {
    transform: translate(-11.8%, -5.6%);
  }
  25% {
    transform: translate(-23.6%, -11.2%);
  }
  31.24% {
    transform: translate(-29.5%, -14%);
  }
  31.25% {
    transform: translate(73%, -14%);
  }
  37.5% {
    transform: translate(61.2%, -11.2%);
  }
  50% {
    transform: translate(49.4%, -5.6%);
  }
  62.5% {
    transform: translate(37.6%, 0);
  }
  75% {
    transform: translate(25.8%, 5.6%);
  }
  87.5% {
    transform: translate(11.8%, 5.6%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lower-pos-wide-7 {
  12.5% {
    transform: translate(-11.8%, -5.6%);
  }
  18.74% {
    transform: translate(-17.7%, -8.4%);
  }
  18.75% {
    transform: translate(78.9%, -8.4%);
  }
  25% {
    transform: translate(73%, -5.6%);
  }
  37.5% {
    transform: translate(61.2%, 0);
  }
  50% {
    transform: translate(49.4%, 5.6%);
  }
  62.5% {
    transform: translate(37.6%, 11.2%);
  }
  75% {
    transform: translate(23.6%, 11.2%);
  }
  87.5% {
    transform: translate(11.8%, 5.6%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes lower-pos-wide-7 {
  12.5% {
    transform: translate(-11.8%, -5.6%);
  }
  18.74% {
    transform: translate(-17.7%, -8.4%);
  }
  18.75% {
    transform: translate(78.9%, -8.4%);
  }
  25% {
    transform: translate(73%, -5.6%);
  }
  37.5% {
    transform: translate(61.2%, 0);
  }
  50% {
    transform: translate(49.4%, 5.6%);
  }
  62.5% {
    transform: translate(37.6%, 11.2%);
  }
  75% {
    transform: translate(23.6%, 11.2%);
  }
  87.5% {
    transform: translate(11.8%, 5.6%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lower-pos-wide-8 {
  6.24% {
    transform: translate(-5.9%, -2.8%);
  }
  6.25% {
    transform: translate(90.7%, -2.8%);
  }
  12.5% {
    transform: translate(84.8%, 0);
  }
  25% {
    transform: translate(73%, 5.6%);
  }
  37.5% {
    transform: translate(61.2%, 11.2%);
  }
  50% {
    transform: translate(49.4%, 16.8%);
  }
  62.5% {
    transform: translate(35.4%, 16.8%);
  }
  75% {
    transform: translate(23.6%, 11.2%);
  }
  87.5% {
    transform: translate(11.8%, 5.6%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes lower-pos-wide-8 {
  6.24% {
    transform: translate(-5.9%, -2.8%);
  }
  6.25% {
    transform: translate(90.7%, -2.8%);
  }
  12.5% {
    transform: translate(84.8%, 0);
  }
  25% {
    transform: translate(73%, 5.6%);
  }
  37.5% {
    transform: translate(61.2%, 11.2%);
  }
  50% {
    transform: translate(49.4%, 16.8%);
  }
  62.5% {
    transform: translate(35.4%, 16.8%);
  }
  75% {
    transform: translate(23.6%, 11.2%);
  }
  87.5% {
    transform: translate(11.8%, 5.6%);
  }
  100% {
    transform: translate(0, 0);
  }
}

/*upper ring wide */
/*upper ring WIDE has the following values:
vertical translation: 6.45%,
horizontal translation: 15.4%,
finishing/starting half vertical translation: 3.23%,
finishing/starting half horizontal translation: 7.7%,
*/

svg.upper-ring-wide [class$="1"] {
  -webkit-animation: upper-pos-wide-1 var(--ring-animation);
  animation: upper-pos-wide-1 var(--ring-animation);
}
svg.upper-ring-wide [class$="2"] {
  -webkit-animation: upper-pos-wide-2 var(--ring-animation);
  animation: upper-pos-wide-2 var(--ring-animation);
}
svg.upper-ring-wide [class$="3"] {
  -webkit-animation: upper-pos-wide-3 var(--ring-animation);
  animation: upper-pos-wide-3 var(--ring-animation);
}
svg.upper-ring-wide [class$="4"] {
  -webkit-animation: upper-pos-wide-4 var(--ring-animation);
  animation: upper-pos-wide-4 var(--ring-animation);
}
svg.upper-ring-wide [class$="5"] {
  -webkit-animation: upper-pos-wide-5 var(--ring-animation);
  animation: upper-pos-wide-5 var(--ring-animation);
}
svg.upper-ring-wide [class$="6"] {
  -webkit-animation: upper-pos-wide-6 var(--ring-animation);
  animation: upper-pos-wide-6 var(--ring-animation);
}
svg.upper-ring-wide [class$="7"] {
  -webkit-animation: upper-pos-wide-7 var(--ring-animation);
  animation: upper-pos-wide-7 var(--ring-animation);
}
svg.upper-ring-wide [class$="8"] {
  -webkit-animation: upper-pos-wide-8 var(--ring-animation);
  animation: upper-pos-wide-8 var(--ring-animation);
}
svg.upper-ring-wide [class$="9"] {
  -webkit-animation: upper-pos-wide-9 var(--ring-animation);
  animation: upper-pos-wide-9 var(--ring-animation);
}

@-webkit-keyframes upper-pos-wide-1 {
  12.5% {
    transform: translate(-11.8%, -11%);
  }
  25% {
    transform: translate(-23.6%, -22%);
  }
  37.5% {
    transform: translate(-35.4%, -33%);
  }
  50% {
    transform: translate(-49.4%, -33%);
  }
  62.5% {
    transform: translate(-61.2%, -22%);
  }
  75% {
    transform: translate(-73%, -11%);
  }
  87.5% {
    transform: translate(-84.8%, 0);
  }
  93.74% {
    transform: translate(-90.7%, 5.5%);
  }
  93.75% {
    transform: translate(5.9%, 5.5%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes upper-pos-wide-1 {
  12.5% {
    transform: translate(-11.8%, -11%);
  }
  25% {
    transform: translate(-23.6%, -22%);
  }
  37.5% {
    transform: translate(-35.4%, -33%);
  }
  50% {
    transform: translate(-49.4%, -33%);
  }
  62.5% {
    transform: translate(-61.2%, -22%);
  }
  75% {
    transform: translate(-73%, -11%);
  }
  87.5% {
    transform: translate(-84.8%, 0);
  }
  93.74% {
    transform: translate(-90.7%, 5.5%);
  }
  93.75% {
    transform: translate(5.9%, 5.5%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upper-pos-wide-2 {
  12.5% {
    transform: translate(-11.8%, -11%);
  }
  25% {
    transform: translate(-23.6%, -22%);
  }
  37.5% {
    transform: translate(-37.6%, -22%);
  }
  50% {
    transform: translate(-49.4%, -11%);
  }
  62.5% {
    transform: translate(-61.2%, 0);
  }
  75% {
    transform: translate(-73%, 11%);
  }
  81.24% {
    transform: translate(-78.9%, 16.5%);
  }
  81.25% {
    transform: translate(17.7%, 16.5%);
  }
  87.5% {
    transform: translate(11.8%, 11%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes upper-pos-wide-2 {
  12.5% {
    transform: translate(-11.8%, -11%);
  }
  25% {
    transform: translate(-23.6%, -22%);
  }
  37.5% {
    transform: translate(-37.6%, -22%);
  }
  50% {
    transform: translate(-49.4%, -11%);
  }
  62.5% {
    transform: translate(-61.2%, 0);
  }
  75% {
    transform: translate(-73%, 11%);
  }
  81.24% {
    transform: translate(-78.9%, 16.5%);
  }
  81.25% {
    transform: translate(17.7%, 16.5%);
  }
  87.5% {
    transform: translate(11.8%, 11%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upper-pos-wide-3 {
  12.5% {
    transform: translate(-11.8%, -11%);
  }
  25% {
    transform: translate(-25.8%, -11%);
  }
  37.5% {
    transform: translate(-37.6%, 0);
  }
  50% {
    transform: translate(-49.4%, 11%);
  }
  62.5% {
    transform: translate(-61.2%, 22%);
  }
  68.74% {
    transform: translate(-67.1%, 27.5%);
  }
  68.75% {
    transform: translate(29.5%, 27.5%);
  }
  75% {
    transform: translate(23.6%, 22%);
  }
  87.5% {
    transform: translate(11.8%, 11%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes upper-pos-wide-3 {
  12.5% {
    transform: translate(-11.8%, -11%);
  }
  25% {
    transform: translate(-25.8%, -11%);
  }
  37.5% {
    transform: translate(-37.6%, 0);
  }
  50% {
    transform: translate(-49.4%, 11%);
  }
  62.5% {
    transform: translate(-61.2%, 22%);
  }
  68.74% {
    transform: translate(-67.1%, 27.5%);
  }
  68.75% {
    transform: translate(29.5%, 27.5%);
  }
  75% {
    transform: translate(23.6%, 22%);
  }
  87.5% {
    transform: translate(11.8%, 11%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upper-pos-wide-4 {
  12.5% {
    transform: translate(-14%, 0);
  }
  25% {
    transform: translate(-25.8%, 11%);
  }
  37.5% {
    transform: translate(-37.6%, 22%);
  }
  50% {
    transform: translate(-49.4%, 33%);
  }
  56.24% {
    transform: translate(-55.3%, 39.5%);
  }
  56.25% {
    transform: translate(41.3%, 39.5%);
  }
  62.5% {
    transform: translate(35.4%, 33%);
  }
  75% {
    transform: translate(23.6%, 22%);
  }
  87.5% {
    transform: translate(11.8%, 11%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes upper-pos-wide-4 {
  12.5% {
    transform: translate(-14%, 0);
  }
  25% {
    transform: translate(-25.8%, 11%);
  }
  37.5% {
    transform: translate(-37.6%, 22%);
  }
  50% {
    transform: translate(-49.4%, 33%);
  }
  56.24% {
    transform: translate(-55.3%, 39.5%);
  }
  56.25% {
    transform: translate(41.3%, 39.5%);
  }
  62.5% {
    transform: translate(35.4%, 33%);
  }
  75% {
    transform: translate(23.6%, 22%);
  }
  87.5% {
    transform: translate(11.8%, 11%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upper-pos-wide-5 {
  12.5% {
    transform: translate(-11.8%, 11%);
  }
  25% {
    transform: translate(-23.6%, 22%);
  }
  37.5% {
    transform: translate(-35.4%, 33%);
  }
  43.74% {
    transform: translate(-41.3%, 39.5%);
  }
  43.75% {
    transform: translate(55.3%, 39.5%);
  }
  50% {
    transform: translate(49.4%, 33%);
  }
  62.5% {
    transform: translate(37.6%, 22%);
  }
  75% {
    transform: translate(25.8%, 11%);
  }
  87.5% {
    transform: translate(14%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes upper-pos-wide-5 {
  12.5% {
    transform: translate(-11.8%, 11%);
  }
  25% {
    transform: translate(-23.6%, 22%);
  }
  37.5% {
    transform: translate(-35.4%, 33%);
  }
  43.74% {
    transform: translate(-41.3%, 39.5%);
  }
  43.75% {
    transform: translate(55.3%, 39.5%);
  }
  50% {
    transform: translate(49.4%, 33%);
  }
  62.5% {
    transform: translate(37.6%, 22%);
  }
  75% {
    transform: translate(25.8%, 11%);
  }
  87.5% {
    transform: translate(14%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upper-pos-wide-6 {
  12.5% {
    transform: translate(-11.8%, 11%);
  }
  25% {
    transform: translate(-23.6%, 22%);
  }
  31.24% {
    transform: translate(-29.5%, 27.5%);
  }
  31.25% {
    transform: translate(73%, 27.5%);
  }
  37.5% {
    transform: translate(61.2%, 22%);
  }
  50% {
    transform: translate(49.4%, 11%);
  }
  62.5% {
    transform: translate(37.6%, 0);
  }
  75% {
    transform: translate(25.8%, -11%);
  }
  87.5% {
    transform: translate(11.8%, -11%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes upper-pos-wide-6 {
  12.5% {
    transform: translate(-11.8%, 11%);
  }
  25% {
    transform: translate(-23.6%, 22%);
  }
  31.24% {
    transform: translate(-29.5%, 27.5%);
  }
  31.25% {
    transform: translate(73%, 27.5%);
  }
  37.5% {
    transform: translate(61.2%, 22%);
  }
  50% {
    transform: translate(49.4%, 11%);
  }
  62.5% {
    transform: translate(37.6%, 0);
  }
  75% {
    transform: translate(25.8%, -11%);
  }
  87.5% {
    transform: translate(11.8%, -11%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upper-pos-wide-7 {
  12.5% {
    transform: translate(-11.8%, 11%);
  }
  18.74% {
    transform: translate(-17.7%, 16.5%);
  }
  18.75% {
    transform: translate(78.9%, 16.5%);
  }
  25% {
    transform: translate(73%, 11%);
  }
  37.5% {
    transform: translate(61.2%, 0);
  }
  50% {
    transform: translate(49.4%, -11%);
  }
  62.5% {
    transform: translate(37.6%, -22%);
  }
  75% {
    transform: translate(23.6%, -22%);
  }
  87.5% {
    transform: translate(11.8%, -11%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes upper-pos-wide-7 {
  12.5% {
    transform: translate(-11.8%, 11%);
  }
  18.74% {
    transform: translate(-17.7%, 16.5%);
  }
  18.75% {
    transform: translate(78.9%, 16.5%);
  }
  25% {
    transform: translate(73%, 11%);
  }
  37.5% {
    transform: translate(61.2%, 0);
  }
  50% {
    transform: translate(49.4%, -11%);
  }
  62.5% {
    transform: translate(37.6%, -22%);
  }
  75% {
    transform: translate(23.6%, -22%);
  }
  87.5% {
    transform: translate(11.8%, -11%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes upper-pos-wide-8 {
  6.24% {
    transform: translate(-5.9%, 5.5%);
  }
  6.25% {
    transform: translate(90.7%, 5.5%);
  }
  12.5% {
    transform: translate(84.8%, 0);
  }
  25% {
    transform: translate(73%, -11%);
  }
  37.5% {
    transform: translate(61.2%, -22%);
  }
  50% {
    transform: translate(49.4%, -33%);
  }
  62.5% {
    transform: translate(35.4%, -33%);
  }
  75% {
    transform: translate(23.6%, -22%);
  }
  87.5% {
    transform: translate(11.8%, -11%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes upper-pos-wide-8 {
  6.24% {
    transform: translate(-5.9%, 5.5%);
  }
  6.25% {
    transform: translate(90.7%, 5.5%);
  }
  12.5% {
    transform: translate(84.8%, 0);
  }
  25% {
    transform: translate(73%, -11%);
  }
  37.5% {
    transform: translate(61.2%, -22%);
  }
  50% {
    transform: translate(49.4%, -33%);
  }
  62.5% {
    transform: translate(35.4%, -33%);
  }
  75% {
    transform: translate(23.6%, -22%);
  }
  87.5% {
    transform: translate(11.8%, -11%);
  }
  100% {
    transform: translate(0, 0);
  }
}

svg.lower-ring-setup-wide .ring [class^="a"],
svg.upper-ring-wide [class^="b"],
svg.lower-ring-setup-wide .ring [class^="c"] {
  animation-direction: reverse;
}
/*************************************/
/*****COIN EXPLOSION ANIMATIONS*******/
/*************************************/
/*coin explosion */

.js-coin-explosion-animation-1 {
  -webkit-animation: coin-1 var(--coin-animation);
  animation: coin-1 var(--coin-animation);
}
.js-coin-explosion-animation-2 {
  -webkit-animation: coin-2 var(--coin-animation);
  animation: coin-2 var(--coin-animation);
}
.js-coin-explosion-animation-3 {
  -webkit-animation: coin-3 var(--coin-animation);
  animation: coin-3 var(--coin-animation);
}
.js-coin-explosion-animation-4 {
  -webkit-animation: coin-4 var(--coin-animation);
  animation: coin-4 var(--coin-animation);
}
.js-coin-explosion-animation-5 {
  -webkit-animation: coin-5 var(--coin-animation);
  animation: coin-5 var(--coin-animation);
}
.js-coin-explosion-animation-6 {
  -webkit-animation: coin-6 var(--coin-animation);
  animation: coin-6 var(--coin-animation);
}
.js-coin-explosion-animation-7 {
  -webkit-animation: coin-7 var(--coin-animation);
  animation: coin-7 var(--coin-animation);
}
.js-coin-explosion-animation-8 {
  -webkit-animation: coin-8 var(--coin-animation);
  animation: coin-8 var(--coin-animation);
}
.js-coin-explosion-animation-9 {
  -webkit-animation: coin-9 var(--coin-animation);
  animation: coin-9 var(--coin-animation);
}
.js-coin-explosion-animation-10 {
  -webkit-animation: coin-10 var(--coin-animation);
  animation: coin-10 var(--coin-animation);
}
@-webkit-keyframes coin-1 {
  100% {
    transform: translate(-5%, -47%);
  }
}
@keyframes coin-1 {
  100% {
    transform: translate(-5%, -47%);
  }
}
@-webkit-keyframes coin-2 {
  100% {
    transform: translate(21%, -43%);
  }
}
@keyframes coin-2 {
  100% {
    transform: translate(21%, -43%);
  }
}
@-webkit-keyframes coin-3 {
  100% {
    transform: translate(13%, -34%);
  }
}
@keyframes coin-3 {
  100% {
    transform: translate(13%, -34%);
  }
}
@-webkit-keyframes coin-4 {
  100% {
    transform: translate(-17%, -26%);
  }
}
@keyframes coin-4 {
  100% {
    transform: translate(-17%, -26%);
  }
}
@-webkit-keyframes coin-5 {
  100% {
    transform: translate(-3%, -23%);
  }
}
@keyframes coin-5 {
  100% {
    transform: translate(-3%, -23%);
  }
}
@-webkit-keyframes coin-6 {
  100% {
    transform: translate(15%, -20%);
  }
}
@keyframes coin-6 {
  100% {
    transform: translate(15%, -20%);
  }
}
@-webkit-keyframes coin-7 {
  100% {
    transform: translate(-1%, -12%);
  }
}
@keyframes coin-7 {
  100% {
    transform: translate(-1%, -12%);
  }
}
@-webkit-keyframes coin-8 {
  100% {
    transform: translate(2%, -14%);
  }
}
@keyframes coin-8 {
  100% {
    transform: translate(2%, -14%);
  }
}
@-webkit-keyframes coin-9 {
  100% {
    transform: translate(-12%, -17%);
  }
}
@keyframes coin-9 {
  100% {
    transform: translate(-12%, -17%);
  }
}
@-webkit-keyframes coin-10 {
  100% {
    transform: translate(-11%, -10%);
  }
}
@keyframes coin-10 {
  100% {
    transform: translate(-11%, -10%);
  }
}
/*coin explosion wide */

.js-coin-explosion-animation-wide-1 {
  -webkit-animation: coin-1-wide var(--coin-animation);
  animation: coin-1-wide var(--coin-animation);
}
.js-coin-explosion-animation-wide-2 {
  -webkit-animation: coin-2-wide var(--coin-animation);
  animation: coin-2-wide var(--coin-animation);
}
.js-coin-explosion-animation-wide-3 {
  -webkit-animation: coin-3-wide var(--coin-animation);
  animation: coin-3-wide var(--coin-animation);
}
.js-coin-explosion-animation-wide-4 {
  -webkit-animation: coin-4-wide var(--coin-animation);
  animation: coin-4-wide var(--coin-animation);
}
.js-coin-explosion-animation-wide-5 {
  -webkit-animation: coin-5-wide var(--coin-animation);
  animation: coin-5-wide var(--coin-animation);
}
.js-coin-explosion-animation-wide-6 {
  -webkit-animation: coin-6-wide var(--coin-animation);
  animation: coin-6-wide var(--coin-animation);
}
.js-coin-explosion-animation-wide-7 {
  -webkit-animation: coin-7-wide var(--coin-animation);
  animation: coin-7-wide var(--coin-animation);
}
.js-coin-explosion-animation-wide-8 {
  -webkit-animation: coin-8-wide var(--coin-animation);
  animation: coin-8-wide var(--coin-animation);
}
.js-coin-explosion-animation-wide-9 {
  -webkit-animation: coin-9-wide var(--coin-animation);
  animation: coin-9-wide var(--coin-animation);
}
.js-coin-explosion-animation-wide-10 {
  -webkit-animation: coin-10-wide var(--coin-animation);
  animation: coin-10-wide var(--coin-animation);
}
@-webkit-keyframes coin-1-wide {
  100% {
    transform: translate(-5%, -47%);
  }
}
@keyframes coin-1-wide {
  100% {
    transform: translate(-5%, -47%);
  }
}
@-webkit-keyframes coin-2-wide {
  100% {
    transform: translate(21%, -43%);
  }
}
@keyframes coin-2-wide {
  100% {
    transform: translate(21%, -43%);
  }
}
@-webkit-keyframes coin-3-wide {
  100% {
    transform: translate(13%, -34%);
  }
}
@keyframes coin-3-wide {
  100% {
    transform: translate(13%, -34%);
  }
}
@-webkit-keyframes coin-4-wide {
  100% {
    transform: translate(-17%, -26%);
  }
}
@keyframes coin-4-wide {
  100% {
    transform: translate(-17%, -26%);
  }
}
@-webkit-keyframes coin-5-wide {
  100% {
    transform: translate(-3%, -23%);
  }
}
@keyframes coin-5-wide {
  100% {
    transform: translate(-3%, -23%);
  }
}
@-webkit-keyframes coin-6-wide {
  100% {
    transform: translate(15%, -20%);
  }
}
@keyframes coin-6-wide {
  100% {
    transform: translate(15%, -20%);
  }
}
@-webkit-keyframes coin-7-wide {
  100% {
    transform: translate(-1%, -16%);
  }
}
@keyframes coin-7-wide {
  100% {
    transform: translate(-1%, -16%);
  }
}
@-webkit-keyframes coin-8-wide {
  100% {
    transform: translate(2%, -18%);
  }
}
@keyframes coin-8-wide {
  100% {
    transform: translate(2%, -18%);
  }
}
@-webkit-keyframes coin-9-wide {
  100% {
    transform: translate(-12%, -17%);
  }
}
@keyframes coin-9-wide {
  100% {
    transform: translate(-12%, -17%);
  }
}
@-webkit-keyframes coin-10-wide {
  100% {
    transform: translate(-11%, -10%);
  }
}
@keyframes coin-10-wide {
  100% {
    transform: translate(-11%, -10%);
  }
}
/*coin explosion desktop*/
.js-coin-explosion-animation-desktop-1 {
  -webkit-animation: coin-1-desktop var(--coin-animation);
  animation: coin-1-desktop var(--coin-animation);
}
.js-coin-explosion-animation-desktop-2 {
  -webkit-animation: coin-2-desktop var(--coin-animation);
  animation: coin-2-desktop var(--coin-animation);
}
.js-coin-explosion-animation-desktop-3 {
  -webkit-animation: coin-3-desktop var(--coin-animation);
  animation: coin-3-desktop var(--coin-animation);
}
.js-coin-explosion-animation-desktop-4 {
  -webkit-animation: coin-4-desktop var(--coin-animation);
  animation: coin-4-desktop var(--coin-animation);
}
.js-coin-explosion-animation-desktop-5 {
  -webkit-animation: coin-5-desktop var(--coin-animation);
  animation: coin-5-desktop var(--coin-animation);
}
.js-coin-explosion-animation-desktop-6 {
  -webkit-animation: coin-6-desktop var(--coin-animation);
  animation: coin-6-desktop var(--coin-animation);
}
.js-coin-explosion-animation-desktop-7 {
  -webkit-animation: coin-7-desktop var(--coin-animation);
  animation: coin-7-desktop var(--coin-animation);
}
.js-coin-explosion-animation-desktop-8 {
  -webkit-animation: coin-8-desktop var(--coin-animation);
  animation: coin-8-desktop var(--coin-animation);
}
.js-coin-explosion-animation-desktop-9 {
  -webkit-animation: coin-9-desktop var(--coin-animation);
  animation: coin-9-desktop var(--coin-animation);
}
.js-coin-explosion-animation-desktop-10 {
  -webkit-animation: coin-10-desktop var(--coin-animation);
  animation: coin-10-desktop var(--coin-animation);
}
@-webkit-keyframes coin-1-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-5%, -53%);
  }
}
@keyframes coin-1-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-5%, -53%);
  }
}
@-webkit-keyframes coin-2-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(21%, -49%);
  }
}
@keyframes coin-2-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(21%, -49%);
  }
}
@-webkit-keyframes coin-3-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(13%, -40%);
  }
}
@keyframes coin-3-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(13%, -40%);
  }
}
@-webkit-keyframes coin-4-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-17%, -32%);
  }
}
@keyframes coin-4-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-17%, -32%);
  }
}
@-webkit-keyframes coin-5-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3%, -29%);
  }
}
@keyframes coin-5-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3%, -29%);
  }
}
@-webkit-keyframes coin-6-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(15%, -26%);
  }
}
@keyframes coin-6-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(15%, -26%);
  }
}
@-webkit-keyframes coin-7-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-1%, -22%);
  }
}
@keyframes coin-7-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-1%, -22%);
  }
}
@-webkit-keyframes coin-8-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(2%, -24%);
  }
}
@keyframes coin-8-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(2%, -24%);
  }
}
@-webkit-keyframes coin-9-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-12%, -23%);
  }
}
@keyframes coin-9-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-12%, -23%);
  }
}
@-webkit-keyframes coin-10-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-11%, -16%);
  }
}
@keyframes coin-10-desktop {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-11%, -16%);
  }
}

/**********************************************************/
/********DESKTOP OCTO GROUP and DESKTOP HILL SETUP*********/
/**********************************************************/

svg.hill-setup-desktop .octo-1,
svg.hill-setup-desktop .octo-2,
svg.hill-setup-desktop .octo-3,
svg.hill-setup-desktop .octo-5,
svg.hill-setup-desktop .octo-7,
svg.octo-group-desktop .octo-1,
svg.octo-group-desktop .octo-3,
svg.octo-group-desktop .octo-6,
svg.octo-group-desktop .octo-8,
svg.octo-group-desktop .octo-11 {
  -webkit-animation: var(--hover-down-animation);
  animation: var(--hover-down-animation);
}
svg.hill-setup-desktop .octo-4,
svg.hill-setup-desktop .octo-6,
svg.hill-setup-desktop .octo-8,
svg.hill-setup-desktop .octo-9,
svg.octo-group-desktop .octo-2,
svg.octo-group-desktop .octo-4,
svg.octo-group-desktop .octo-5,
svg.octo-group-desktop .octo-7,
svg.octo-group-desktop .octo-9,
svg.octo-group-desktop .octo-10,
svg.octo-group-desktop .octo-12 {
  -webkit-animation: var(--hover-up-animation);
  animation: var(--hover-up-animation);
}
@-webkit-keyframes hover-down {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(5%);
  }
}
@keyframes hover-down {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(5%);
  }
}
@-webkit-keyframes hover-up {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(-5%);
  }
}
@keyframes hover-up {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(-5%);
  }
}

/*********************************/
/**********COIN PHASING***********/
/*********************************/

svg.digital-octopi-coins [class^="coin"] {
  -webkit-animation: var(--phase-animation);
  animation: var(--phase-animation);
}
svg.digital-octopi-coins [class^="coin"]:nth-of-type(2n) {
  -webkit-animation-delay: -500ms;
  animation-delay: -500ms;
}
svg.digital-octopi-coins [class^="coin"]:nth-of-type(3n) {
  -webkit-animation-delay: -1000ms;
  animation-delay: -1000ms;
}
svg.digital-octopi-coins [class^="coin"]:nth-of-type(4n) {
  -webkit-animation-delay: -1500ms;
  animation-delay: -1500ms;
}
svg.digital-octopi-coins [class^="coin"]:nth-of-type(5n) {
  -webkit-animation-delay: -2000ms;
  animation-delay: -2000ms;
}
svg.digital-octopi-coins [class^="coin"]:nth-of-type(6n) {
  -webkit-animation-delay: -2500ms;
  animation-delay: -2500ms;
}
@-webkit-keyframes phase {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes phase {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
