/*****************************************/
/*************GENERAL STYLING*************/
/*****************************************/
:root {
  --heading-font: "Raleway", sans-serif;
  --content-font: "Inconsolata", monospace;
  --accent-font: "DM Mono", monospace;
  --default-transition: all 250ms ease-in;
  --neon-teal: rgba(0, 240, 255, 1);
  --off-white: rgba(240, 240, 240, 1);
  --dark-blue: rgba(28, 30, 81, 1);
  --main-blue: rgba(11, 20, 236, 1);
  --segment-animation: 700ms ease-out infinite;
  --ring-animation: 20000ms linear infinite;
  --coin-animation: 750ms cubic-bezier(0, 1.18, 0.35, 0.97) 1 forwards;
  --hover-animation: hover 3500ms ease-in-out infinite alternate-reverse;
  --phase-animation: phase 2000ms ease-in-out infinite alternate-reverse;
}
section {
  overflow-x: hidden;
}
@media screen and (min-width: 875px) {
  p {
    text-align: left;
    font-size: 1.25rem;
  }
  section {
    display: flex;
  }
  section:nth-child(even) {
    flex-direction: row-reverse;
  }
  section > * {
    min-width: 50%;
  }
  section .visual-content {
    display: flex;
  }
  section .text-content {
    padding: 1.5rem;
  }
  svg.upper-ring-wide,
  svg.lower-ring-wide-setup,
  img[src$="coin-group-carousel.svg"],
  img[src$="digital-octopi-carousel.svg"] {
    display: none;
  }
}
/*****************************************/
/************* INTRO SECTION *************/
/*****************************************/

.intro {
  margin-top: 3rem;
  position: relative;
  overflow-y: visible;
}
.intro h1 {
  font-size: 2.63rem;
  max-width: 15ch;
}
@media screen and (min-width: 425px) {
  .intro h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 550px) {
  .intro h1 {
    font-size: 3.4rem;
  }
}

.intro .buttons-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 650px) {
  .intro .buttons-content {
    flex-direction: row;
  }
  .intro .buttons-content a.primary {
    position: relative;
    padding-top: 0.8em;
  }
}
.intro .visual-content {
  margin: 3rem auto 0;
}
svg.upper-ring {
  position: relative;
  width: 143%;
  right: 21.5%;
  height: auto;
}
svg.upper-ring-wide {
  position: relative;
  width: 130%;
  right: 15%;
  height: auto;
}
@media screen and (max-width: 550px) {
  svg.upper-ring-wide {
    display: none;
  }
}
@media screen and (min-width: 550px) {
  svg.upper-ring {
    display: none;
  }
  svg.upper-ring-wide {
    display: unset;
  }
}
svg.octo-group-desktop {
  display: none;
}
@media screen and (min-width: 875px) {
  svg.octo-group-desktop {
    display: unset;
  }
  svg.upper-ring-wide {
    display: none;
  }
  .intro .visual-content {
    margin: unset;
  }
  p {
    position: relative;
    left: 3%;
  }
}

/*****************************************/
/*************INFO-1 SECTION**************/
/*****************************************/

.info-1 .text-content {
  margin: 0 auto;
}
.info-1 .visual-content {
  z-index: -1;
}
svg.lower-ring-setup {
  position: relative;
  width: 143%;
  right: 21.5%;
  height: auto;
}
svg.lower-ring-setup-wide {
  position: relative;
  width: 130%;
  right: 15%;
  height: auto;
}
svg.hill-setup-desktop {
  display: none;
}
@media screen and (max-width: 550px), screen and (min-width: 875px) {
  svg.lower-ring-setup-wide {
    display: none;
  }
}
@media screen and (min-width: 550px) {
  svg.lower-ring-setup {
    display: none;
  }
  svg.lower-ring-setup-wide {
    display: unset;
  }
}
@media screen and (min-width: 875px) {
  .info-1 {
    margin-top: 3rem;
  }
  svg.lower-ring-setup-wide {
    display: none;
  }
  svg.hill-setup-desktop {
    display: unset;
  }
}

/*****************************************/
/*************INFO-2 SECTION**************/
/*****************************************/

.info-2 {
  margin: 0 auto;
}
@media screen and (min-width: 875px) {
  .info-2 {
    flex-direction: row;
    width: 100%;
  }
}
.info-2 .buttons-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media screen and (min-width: 650px) {
  .info-2 .buttons-content {
    flex-direction: row;
    width: 100%;
  }
  .info-2 .buttons-content a {
    width: 50%;
  }
}

.info-2 .visual-content {
  z-index: -1;
  position: relative;
  margin: -5rem auto;
}
svg.octopus-ring-setup {
  position: relative;
  width: 130%;
  right: 15%;
}
@media screen and (min-width: 380px) {
  .info-2 .visual-content {
    margin: -2rem auto;
  }
}

@media screen and (min-width: 450px) {
  .info-2 .visual-content {
    margin: 0 auto;
  }
}

@media screen and (min-width: 500px) {
  .info-2 .visual-content {
    margin: 2rem auto;
  }
}
@media screen and (min-width: 875px) {
  .info-2 .visual-content {
    margin: unset;
    display: unset;
  }
  svg.octopus-ring-setup {
    right: unset;
    width: 100%;
    height: 100%;
  }
  .info-2 {
    margin-top: 4rem;
    align-items: center;
  }
  .info-2 .buttons-content a {
    width: unset;
  }
  .info-2 .buttons-content {
    justify-content: center;
  }
}
@media screen and (min-width: 1025px) {
  .info-2 .buttons-content a {
    min-width: 20ch;
  }
}
/*****************************************/
/*************INFO-3 SECTION**************/
/*****************************************/
.info-3 .visual-content {
  position: relative;
  margin-top: 4rem;
  max-width: 100%;
}

@media screen and (min-width: 875px) {
  .info-3 .visual-content {
    margin-top: unset;
  }
}
.info-3 svg.digital-octopi-coins {
  display: none;
}
.info-3 img[src$="coins.svg"] {
  position: absolute;
}
.info-3 img[src$="coin-group-carousel.svg"] {
  width: 200%;
  position: absolute;
  top: 10%;
  left: 0;
  -webkit-animation: coin-carousel 15000ms linear infinite;
  animation: coin-carousel 15000ms linear infinite;
}
.info-3 img[src$="digital-octopi-carousel.svg"] {
  width: 200%;
  position: relative;
  right: 80%;
  z-index: -1;
  -webkit-animation: octopi-carousel 15000ms linear infinite;
  animation: octopi-carousel 15000ms linear infinite;
}
@media screen and (min-width: 875px) {
  .info-3 svg.digital-octopi-coins {
    display: unset;
  }
}

/*****************************************/
/*************CONCLUSION SECTION**************/
/*****************************************/

.conclusion {
  margin-top: 4rem;
}
@media screen and (min-width: 650px) {
  .conclusion {
    margin-bottom: -4rem;
  }
}
.conclusion .text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.conclusion h1 {
  background: linear-gradient(90deg, var(--main-blue), var(--neon-teal));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.75rem;
}
.conclusion .buttons-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin-top: 1.5rem;
}
@media screen and (min-width: 800px) {
  .conclusion .buttons-content {
    flex-direction: row;
    width: 100%;
  }
  .conclusion .buttons-content a.primary,
  .conclusion .buttons-content a.secondary {
    width: 50%;
  }
}
.conclusion a.secondary {
  padding: 0.75rem 1.5rem;
}
.conclusion a.primary {
  width: 75%;
}
@media screen and (min-width: 825px) {
  .conclusion {
    margin-top: 10rem;
  }
}
